* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
    text-decoration: none;
    font-family: 'Cinzel Decorative';

}

html, body {
    margin: 0;
    height: 100%;
    background-color: black;
}

.rgbShiftSlider {
    /* xox block*/
    /* display: none;  */
    position: fixed;
    left: 0;
    top: 0;
    opacity: .5;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transform-origin: 50% 50%;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
#gallery {
    height: 100vh;
    overflow: hidden;
}

.fa {
    position: fixed;
    top: 10px;
    margin: 10px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    width: fit-content;
    animation-name: back;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 100000;
}

@keyframes back {
    0% {
        opacity: .0;
    }
    100% {
        opacity: 2;
    }
}

#gimg {
    left: 5px;
    animation-delay: .5s;
}

#fulls {
    left: 35px;
    animation-delay: .8s;
}

#back {
    left: 65px;
    animation-delay: 1s;
}


.fade {
    opacity: 0;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 3s;
}

@keyframes fade {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

#gal1 {
    display: none;
}

#gal1 #scene {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#gal1 .col {
    display: inline-block;
    position: relative;
    pointer-events: all;
    margin: 0 0 320px;
}

#gal1 .layer.main {
    width: 200%;
    position: absolute;
    padding: 20px;
    padding-right: 10%;
}

#gal1 .bg-img {
    padding: 0px;
    left: 0;
    height: 629px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
#move{
    position: absolute;
    margin:50px 15px;
    display: none;
}
#gal2 {
    margin-top: 4vh;
    position: absolute;
    overflow-x: scroll;
    /* display: none; */
}

.gal2>.gal2Div {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.gal2 figure {
    display: inline-block;
    width: 20%;
    margin: 5px;
    cursor: pointer;
}

.gal2 img {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .fa {
        top: 0px;
        margin: 5px;
    }

}